.c-grid{
  display: grid;
  justify-content: center;
  align-items: center;
}

.m-grid{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 100px;
}


.react-calendar {
  border: 1px solid #ccc;
  width: 630px;
  font-family: "Gowun Batang", serif;
  line-height: 1em;
  background-color: rgba(255, 255, 255, 0.45);
  margin-top: -3%;
  font-size: 1.3em;
  padding-bottom: 0.7em;
  border-radius: 17px;
}

.react-calendar__tile--disabled {
  pointer-events: none; /* 비활성화된 날짜는 클릭 이벤트를 막습니다. */
  color: #aaa; /* 회색 글꼴로 변경합니다. */
  background-color: #f0f0f0; /* 회색 배경으로 변경합니다. */
  border-radius: 8%; /* 원형의 모양을 유지하기 위해 border-radius를 추가합니다. */
}

.react-calendar--doubleView {
width: 800px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
display: flex;
margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
width: 50%;
margin: 0.5em;
padding-bottom: 0.7em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.react-calendar button {
  font-weight: bold;
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
cursor: pointer;
}

.react-calendar__navigation {
display: flex;
height: 44px;
padding-top: 0.7em;
margin-bottom: 1em;
font-size: 1.3em;
}

.react-calendar__navigation button {
min-width: 44px;
background: none;
}

.react-calendar__navigation button:disabled {
background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
text-align: center;
text-transform: uppercase;
font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
display: flex;
align-items: center;
justify-content: center;
font-size: 1.25em;
font-weight: bold;
}

.react-calendar__month-view__days__day--neighboringMonth {
color: lightgray;
padding-top: 1.2em;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
padding: 2em 0.5em;
}

.react-calendar__tile {
  font-weight: bold;
  max-width: 100%;
  padding: 15px 7px;
  margin: 100px;
  text-align: center;
  line-height: 20px;
  background:none;
  border-radius: 200%;
}

.react-calendar__tile:disabled {
  text-decoration: line-through;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
background-color: #e6e6e6;
}

.react-calendar__tile--now {
background: #F2CB61;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
background: #ffffa9;
}

.react-calendar__tile--hasActive {
background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
background: #a9d4ff;
}

.react-calendar__tile--active {
background: #006edc;
color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
background-color: #e6e6e6;
}
/*여기까지 달력*/

/*
.left-sidebar {
  width: 200px; 
  height: 100vh; 
  background-color: #333;
  color: #fff; 
  flex-shrink: 0;
}

.left-area{
  font-size: calc(10px + 2vmin);
}

.sidebar-menu {
  list-style: none; 
  padding: 0;
}

.sidebar-menu li {
  padding: 12px;
  cursor: pointer;
}

.sidebar-menu li.active {
  background-color: #555;
}
*/

.input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 20px; /* You can adjust this value to control the roundness */
  outline: none;
  transition: border-color 0.2s ease;
  justify-content: center;
  align-items: center;
  display: grid;
  /*border: none;*/
  width:100%;
}

.write {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 20px; /* You can adjust this value to control the roundness */
  outline: none;
  transition: border-color 0.2s ease;
  justify-content: center;
  align-items: center;
  display: flex;
  /*border: none;*/
  width:100%;
  height: 300px;
  resize: none;
}

.d-grid {
  display: grid !important;
  width:100%;
}

.diary{
  margin: 20px;
  padding: 20px;
  background-color: none;
  min-height: 60vh;
  font-size: calc(10px + 1.2vmin);
  color: black;
  opacity: 0.9;
  width:50%;
}

.content {
  display: flex;
}

.date{
  border: 1px solid #ccc;
  color: #5D5D5D;
  border-radius: 20px;
  align-items: center; /* 수직 방향 가운데 정렬 */
  justify-content: center; /* 수평 방향 가운데 정렬 */
  text-align: center; /* 텍스트 가운데 정렬 (수평 방향) */
  display: flex;
  

  margin-bottom: 0.6rem;
  background-color: white;
  border-radius: 17px;
  font-size: 20px;

  width: 35%;
  height: 9%;
}

.result {
  font-size:20px;
  padding:50px;
  margin-left:auto;     /* 자동으로 왼쪽 여백 조절 */
  margin-right:auto;    /* 자동으로 오른쪽 여백 조절 */
  margin-bottom:0.6rem;
  border-radius:20px;
  width:80%;
  color:white;
  background-color:black;
  opacity:0.7;
  text-align:center;
}

.letter {
  margin-top:4%;
  font-size:25px;
  margin-left:auto;     /* 자동으로 왼쪽 여백 조절 */
  margin-right:auto;    /* 자동으로 오른쪽 여백 조절 */
  margin-bottom:0.6rem;
  border-radius:20px;
  width:80%;
}
